@using OfficeOpenXml.FormulaParsing.Excel.Functions.DateTime
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] months = new string[] {"January", "February", "March", "April", "May",
        "June", "July", "August", "September", "October", "November", "December"};
}
<div class="container  shadow p-3 mb-5 bg-white rounded LeaveContainer">
    <div  class="LeavesIndex container">
        <ul>
            <li><button type="button" class="btn btn-light LeaveMenu" value="viewLeaves">View Leaves</button></li>
            <li><button type="button" class="btn btn-light LeaveMenu" value="ApplyLeaves">Apply Leaves</button></li>
            <li><button type="button" class="btn btn-light LeaveMenu" value="PendingLeaves">Pending Leaves</button></li>
            <li><button type="button" class="btn btn-light LeaveMenu" value="LeavesStatus">Approved/Pending/Canceled Leaves</button></li>
            <li><button type="button" class="btn btn-light LeaveMenu" value="PublicHolidays">Public Holidays List</button></li>
        </ul>
        <div class="clr"></div>
    </div>
    <div id="viewLeaves">
        <table class="table  table-bordered">
            <thead>
            <td>Department Name</td>
            <td>Employee Name</td>
            @for (var d = DateTime.Now.AddDays(-15); d <= DateTime.Now.AddDays(15); d = d.AddDays(1))
            {
                <td>
                    @months[@d.Month -1 ].Substring(0,3)
                    @d.GetDateTimeFormats()[2].Substring(3,2)
                </td>
            }
            </thead>
            <tbody>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        @for (var d = DateTime.Now.AddDays(-15); d <= DateTime.Now.AddDays(15); d = d.AddDays(1))
                        {
                            if (d.DayOfWeek.ToString().Equals( "Saturday") || d.DayOfWeek.ToString().Equals( "Sunday"))
                            {
                                <td style="background-color: #E7E7EE; border: 0"></td>
                            }
                            else
                            {
                                <td style="background-color: orangered;" >@d.DayOfWeek.ToString().Substring(0,1)</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    
    
    <div id="ApplyLeaves" >
        <h1 class="text-center">Apply Leaves</h1>
        @Html.Partial("_ApplyLeave")
    </div>
    
    
    <div id="PendingLeaves">
        <h1>PendingLeaves</h1>
    </div>
    
    
    
    
    <div id="LeavesStatus">
        <h1>Leaves Status</h1>
    </div>
    
    <div id="PublicHolidays" class="container">
        <h4 class="text-center">Public holidays</h4>
        <table class="table table-bordered">
            <thead>
                <td>Name</td>
                <td>Date</td>
            </thead>
            <tbody>
                @foreach (var holiday in ViewBag.PubluicHolidays )
                {
                    <tr>
                        <td>@holiday.Name</td>
                        <td>@holiday.Date.DayOfWeek.ToString().Substring(0,3) @holiday.Date.Day/@holiday.Date.Month/@holiday.Date.Year</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script src="~/Scripts/CustomJs/Leave.js"></script>
